/* header start */
.header{
    width: 100vw;
    background-color: white;
    display: flex;
    top: 0;
    position: fixed;
    height: 15vh;
    z-index: 2;
}
.logo-container{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo-inner-container{
    width: 80%;
}
.logo{
    width: 25%;
}
.list-reponsive:hover{
    color: #C75B7A;
    cursor: pointer;
}
.not-responsive{
    color: black;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 100%;
}
.list-container{
    height: 100%;
    background-color: white;
    width: 50%;
}
.hamburger{
    display: none;
}
.close{
    display: none;
}

@media (max-width: 599px) { 
    .header{
        position: relative;
        height: 10vh;
        width: 100vw;
    }
    .logo-container{
        width: 50%;
    }
    .not-responsive{
        display: none;
    }
    .list-container{
        position: relative;
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    /* .hamburger-container{
        background-color: green;
        margin: 0;
        width: 80%;
        display: flex;
        justify-content: flex-end;
        display: block;
    } */
    .logo{
        width: 50%;
    }
    .hamburger{
        display: block;
        margin-right: 20px;
    }
    .responsive{
        row-gap: 5px;
        display: block;
        display: flex;
        flex-direction: column;
        position: absolute;
        height: fit-content;
        width: 100vw;
        top: 10vh;
        list-style: none;
        background-color:white;
        transform: translateY(-100vw);
        transition: transform 0.5s linear;
    }
    .responsive.open{
        transform: translateY(0);
    }
    .responsive.close{
        transform: translateY(-100vw);
    }
    .list-reponsive{
        margin: 0;
        /* color: aqua; */
        color: white;
        margin-left: 20px;
    }
    .line{
        height: 3%;
        width: 100%;
        /* background-color: red;
        color: red; */
    }
    .close{
        display: block;
        margin-right: 20px;
    }
}


@media (max-width:900px) {
    .header{
        height: 13vh;
        background-color: white;
    }
    .logo{
        width: 50%;
    }
    .logo-container{
        width: 50%;
    }
    .not-responsive{
        display: none;
    }
    .list-container{
        position: relative;
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    /* .hamburger-container{
        background-color: green;
        margin: 0;
        width: 80%;
        display: flex;
        justify-content: flex-end;
        display: block;
    } */
    .logo{
        width: 50%;
    }
    .hamburger{
        display: block;
        margin-right: 20px;
    }
    .responsive{
        row-gap: 5px;
        display: block;
        display: flex;
        flex-direction: column;
        position: absolute;
        height: fit-content;
        width: 100vw;
        top: 10vh;
        list-style: none;
        background-color: white;
        transform: translateY(-100vw);
        transition: transform 0.5s linear;
    }
    .responsive.open{
        transform: translateY(0);
    }
    .responsive.close{
        transform: translateY(-100vw);
    }
    .list-reponsive{
        margin: 0;
        /* color: aqua; */
        color: white;
        margin-left: 20px;
    }
    .line{
        height: 3%;
        width: 100%;
        /* background-color: red;
        color: red; */
    }
    .close{
        display: block;
        margin-right: 20px;
    }
}

/* @media (max-width:1400px) {
    .header{
        height: 5vh;
    }
} */
/* header stop */




